.pickmeup {
    background: #fff;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: none;
    position: absolute;
    color: #555555;
    border: #777777 solid 1px;
    margin-top: 7px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 9999;
}

.pickmeup * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pickmeup .pmu-instance {
    display: inline-block;
    height: 22em;
    padding: .5em;
    text-align: center;
    width: 20em
}

.pickmeup .pmu-instance .pmu-button {
    color: #555555;
    cursor: pointer;
    outline: none;
    text-decoration: none
}

.pickmeup .pmu-instance .pmu-today {
    color: #01b800;
    font-weight: bold;
}

.pickmeup .pmu-instance .pmu-button:hover {
    font-weight: bold;
}

.pickmeup .pmu-instance .pmu-not-in-month {
    color: #bcbcbc
}

.pickmeup .pmu-instance .pmu-disabled, .pickmeup .pmu-instance .pmu-disabled:hover {
    color: #333;
    cursor: default
}

.pickmeup .pmu-instance .pmu-selected {
    background: #00AE16;
    color: #fff;
    border-radius: 50%;
}

.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
    background: #17384d
}

.pickmeup .pmu-instance nav {
    color: #eee;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 2em;
    background: #ffffff;
    box-shadow: none;
    height: 45px;
}

.pickmeup .pmu-instance nav *:first-child :hover {
    color: #88c5eb
}

.pickmeup .pmu-instance nav .pmu-prev, .pickmeup .pmu-instance nav .pmu-next {
    display: none;
    height: 2em;
    width: 1em;
    font-weight: bold;
    font-size: 25px;
}

.pickmeup .pmu-instance nav .pmu-month {
    width: 14em
}

.pickmeup .pmu-instance .pmu-years *, .pickmeup .pmu-instance .pmu-months * {
    display: inline-block;
    line-height: 3.6em;
    width: 3.5em
}

.pickmeup .pmu-instance .pmu-day-of-week {
    color: #999;
    cursor: default;
    height: 45px;
    font-weight: 500;
}

.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
    display: inline-block;
    line-height: 2em;
    width: 2em;
    margin:2px 5px;
    border-radius: 50%;
}

.pickmeup .pmu-instance .pmu-day-of-week * {
    line-height: 1.8em;
    margin: auto;
}

.pickmeup .pmu-instance:first-child .pmu-prev, .pickmeup .pmu-instance:last-child .pmu-next {
    display: block;
    margin: auto;
}

.pickmeup .pmu-instance:first-child .pmu-month, .pickmeup .pmu-instance:last-child .pmu-month {
    width: 13em
}

.pickmeup .pmu-instance:first-child:last-child .pmu-month {
    width: 15em;
    margin: auto;
}

.pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
    display: none
}
